.up {
  animation: up1 500ms;
}
.down {
  animation: down1 500ms;
}
.colorblind .up {
  animation: up2 500ms;
}
.colorblind .down {
  animation: down2 500ms;
}
.apac1 .up {
  animation: up3 500ms;
}
.apac1 .down {
  animation: down3 500ms;
}
.apac2 .up,
.emea .up {
  animation: up4 500ms;
}
.apac2 .down,
.emea .down {
  animation: down4 500ms;
}
/* default */
@keyframes up1 {
  from {
    background-color: rgba(57, 196, 110, 0.7);
    color: white;
  }
}
/* colorblind */
@keyframes up2 {
  from {
    background-color: rgba(96, 126, 255, 0.7);
    color: white;
  }
}
/* apac1 */
@keyframes up3 {
  from {
    background-color: rgba(245, 71, 91, 0.7);
    color: white;
  }
}
/* apac2 emea */
@keyframes up4 {
  from {
    background-color: rgba(47, 180, 200, 0.7);
    color: white;
  }
}
/* default */
@keyframes down1 {
  from {
    background-color: rgba(245, 71, 91, 0.7);
    color: white;
  }
}
/* colorblind */
@keyframes down2 {
  from {
    background-color: rgba(255, 99, 51, 0.7);
    color: white;
  }
}
/* apac1 */
@keyframes down3 {
  from {
    background-color: rgba(57, 196, 110, 0.7);
    color: white;
  }
}
/* apac2 emea */
@keyframes down4 {
  from {
    background-color: rgba(245, 71, 91, 0.7);
    color: white;
  }
}
