<link rel="import" href="../jet-plugin/jet-plugin.html">
<dom-module id="jet-plugin-news">
<template>
		<jet-plugin name="News" src$="[[resolveUrl('src/jet-plugin-news.js')]]" defer$="[[defer]]" />
</template>
<script>
    Polymer({
        "is": "jet-plugin-news",
        "properties": { defer: { type: Boolean} }
    });
</script>
</dom-module>